NODEJS_PREFER_IPV4=true
TASK_ATTACHMENTS_URL=http://cok-bc.onrender.com
TZ=Africa/Kigali
WS_NO_BUFFER_UTIL=true
WS_NO_UTF_8_VALIDATE=true

EMAIL_HOST=mail.kigalicity.gov.rw
EMAIL_PORT=25
EMAIL_USER=coksystems@kigalicity.gov.rw
EMAIL_PASS=your_smtp_password_here
EMAIL_FROM="IKAZE" <coksystems@kigalicity.gov.rw>
