API_BASE_PATH=/cok/api/v1
API_VERSION=v1
CORS_ORIGIN=*
DATABASE_NAME2=COK_EVENT_MNG
DATABASE_URL2="mongodb+srv://cok_systems:kigalicity@coksystems.rldhlb3.mongodb.net/COK_EVENT_MNG?appName=coksystems"
FRONTEND_URL=https://cok-fr.vercel.app/
JWT_SECRET=4427b0ba-be43-4395-8851-bc29f64bf713
LOG_FORMAT=combined
LOG_LEVEL=info
NODEJS_PREFER_IPV4=true
NODE_ENV=development
PORT=2027
RATE_LIMIT_MAX_REQUESTS=100
RATE_LIMIT_WINDOW_MS=900000
TZ=Africa/Kigali
WS_NO_BUFFER_UTIL=true
WS_NO_UTF_8_VALIDATE=true