# Server Configuration
NODE_ENV=development
PORT=2027
LOG_LEVEL=info

# Database Configuration
DATABASE_URL=mongodb://localhost:27017/YOUR_DATABASE_NAME
DATABASE_NAME=YOUR_DATABASE_NAME

# Security & CORS
CORS_ORIGIN=*
# Generate a secure random string for production environments
JWT_SECRET=your_jwt_secret_key_here
FRONTEND_URL = your_frontend_url

# Rate Limiting (e.g., 15 minutes = 900000 ms)
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# API Routing
API_VERSION=v1
API_BASE_PATH=/cok/api

# Logging
LOG_FORMAT=combined